# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Virtual env (если venv лежит в репозитории)
№Lib/
№Scripts/
№Include/
№pyvenv.cfg
№*.venv/
№.venv/
№env/
№venv/

# Build / packaging
build/
dist/
release/
*.spec
*.egg-info/
pip-wheel-metadata/

# IDE / editors
.vscode/
.idea/
tempCodeRunnerFile.py

buffer/

# OS
.DS_Store
Thumbs.db

